UL {
	LIST-STYLE-TYPE: square; TEXT-ALIGN: left
}
OL {
	LIST-STYLE-TYPE: decimal; TEXT-ALIGN: left
}
LI {
	FONT-SIZE: 10px; 
	MARGIN-left: -25px; 
	MARGIN-top: 10px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

LI.main {
	    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
	    FONT-SIZE: 11px;
	MARGIN-left: -25px; 
	MARGIN-top: 2px; 
}

H1
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #333333;
}
H2
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold
    COLOR: #333333;
    FONT-SIZE: 18px;
}
H3
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold
    COLOR: #990000;
    FONT-SIZE: 14px;
}
H4
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold
    COLOR: #990000;
}
H5
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold
    COLOR: #990000;
}
H6
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold
    COLOR: #990000;
}
LI
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px
}
OL
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px
}
UL
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px
}
P
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px
    COLOR: #333333;
}
BODY
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #333333;
    BACKGROUND-COLOR: #cccccc;
}

A:link
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #003399;
    TEXT-DECORATION: none;
}

A:visited
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #003399;
    TEXT-DECORATION:  none;
}

A:hover
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #660066;
    TEXT-DECORATION: none;
}


A:active
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #003399;
    TEXT-DECORATION:  underline;
}


input.mhsubmit
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-top:1px solid #cccccc;
    border-right:1px solid #cccccc;	
    height:20;
    background-color: #E2E2E2;
    color: #000000;
    cursor: hand;
}

td.listbox
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    font-weight: normal;
    border-bottom: 1px solid #003399;
    border-left:1px solid #003399;
    border-top:0px solid #003399;
    border-right:1px solid #003399;	
    height:30;
    background-color: #BECCE6;
    color: #000000;
}

TD.listboxheading {
    FONT-WEIGHT: normal; 
    FONT-SIZE: 11px; 
    COLOR: #000000; 
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
    BACKGROUND-COLOR: #cccccc;
    border-bottom: 0px solid #003399;
    border-left:0px solid #003399;
    border-top:0px solid #003399;
    border-right:0px solid #003399;	
    height:30;
}

TD.listboxheadingleft {
    FONT-WEIGHT: normal; 
    FONT-SIZE: 11px; 
    COLOR: #003399; 
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
    MARGIN-TOP: 100px;
    BACKGROUND-COLOR: #BECCE6;
    border-bottom: 0px solid #003399;
    border-left:1px solid #003399;
    border-top:1px solid #003399;
    border-right:1px solid #003399;	
}

TD.listboxheadingright {
    FONT-WEIGHT: normal; 
    FONT-SIZE: 11px; 
    COLOR: #003399; 
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
    MARGIN-TOP: 100px;
    BACKGROUND-COLOR: #ffffff;
    border-bottom: 1px solid #003399;
    border-left:0px solid #003399;
    border-top:0px solid #003399;
    border-right:0px solid #003399;	
}

td.listitem {
    BACKGROUND-COLOR: #E2E2E2;
    border-bottom: 0px solid #cccccc;
    border-left:0px solid #cccccc;
    border-top:1px solid #cccccc;
    border-right:0px solid #cccccc;	
    height:30;
}

INPUT.clscbox
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    border-bottom: 0px solid #000000;
    border-left:0px solid #000000;
    border-top:0px solid #000000;
    border-right:0px solid #000000;	
    height:18;
    background-color: #ffffff;
}

INPUT
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    border-bottom: 1px solid #000000;
    border-left:1px solid #000000;
    border-top:1px solid #000000;
    border-right:1px solid #000000;	
    height:18;
    background-color: #ffffff;
}

select.mhmulti
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    background-color: #ffffff;
}


select
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    border-bottom: 1px solid #000000;
    border-left:1px solid #000000;
    border-top:1px solid #000000;
    border-right:1px solid #000000;	
    height:18;
    background-color: #ffffff;
}






TD
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #000000;
}

span {

    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    COLOR: #990000;
}

span.highlight {

    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    COLOR: #990000;
}




A.headerlink:link
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #003399;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.headerlink:visited
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #003399;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.headerlink:hover
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #660066;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.headerlink:active
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #003399;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}


A.menu:link
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.menu:visited
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}
A.menu:active
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.menu:hover
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.menusel:link
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.menusel:visited
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}
A.menusel:active
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.menusel:hover
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.footerlink:link
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9px;
    px;
    COLOR: #cccccc;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.footerlink:visited
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9px;
    COLOR: #cccccc;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}
A.footerlink:active
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9px;
    COLOR: #cccccc;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}

A.footerlink:hover
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9px;
    COLOR: #cccccc;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  underline;
}

span.footerlink
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9px;
    COLOR: #cccccc;
    FONT-WEIGHT: bold;
    TEXT-DECORATION:  none;
}


TD.detail
{
	border-bottom: 0px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;	
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	font-weight: bold;
	COLOR: #333333;
}

TD.detailbot
{
	border-bottom: 1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:0px solid #cccccc;
	border-right:1px solid #cccccc;	
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	COLOR: #333333;
}

span.largered
{
 	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 16px;
	font-weight: bold;
	COLOR: #CC0000;
}

span.largemessage
{
 	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 16px;
	font-weight: bold;
	COLOR: green;
}


TD.mhleftsection
{
	border-bottom: 0px solid #E9E9E9;
	border-left:0px solid #E9E9E9;
	border-top:0px solid #E9E9E9;
	border-right:0px solid #E9E9E9;	
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	font-weight: normal;
	COLOR: #333333;
}

TD.mhmidsection
{
	border-bottom: 0px solid #E9E9E9;
	border-left:0px solid #E9E9E9;
	border-top:0px solid #E9E9E9;
	border-right:1px solid #003399;	
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	font-weight: normal;
	COLOR: #333333;
}

TD.mhrightsection
{
	border-bottom:0px solid #003399;	
	border-right:0px solid #E9E9E9;
	border-top:0px solid #E9E9E9;
	border-left:1px solid #003399;	
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	font-weight: normal;
	COLOR: #333333;
}

TD.mhmenu
{
	border-bottom: 1px solid #003399;
	border-left:1px solid #003399;
	border-top:1px solid #003399;
	border-right:1px solid #003399;	
	background-color: #003399;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	font-weight: bold;
	COLOR: #333333;
}

TD.error
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    font-weight: bold;
    COLOR: #CC0000;
}

TD.message
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    font-weight: bold;
    COLOR: green;
}


SPAN.error
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10px;
    font-weight: bold;
    COLOR: #CC0000;
}

TD.mhrowheaderfam
{
	border-bottom: 1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:0px solid #cccccc;
	border-right:1px solid #cccccc;	
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	font-weight: bold;
	COLOR: #333333;
}


TD.mhrowheader
{
	border-bottom: 0px solid #000000;
	background-color: #cccccc;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	font-weight: bold;
	COLOR: #333333;
}

TD.mhrowodd
{
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	COLOR: #333333;
}

TD.mhrow
{
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
    	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    	FONT-SIZE: 11px;
	COLOR: #333333;
        height:25;
}

TD.rowheader
{
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11px;
    COLOR: #333333;
    background-color: #cccccc;
    font-weight: bold;
    height:25;
}

TD.headermain {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #003399; 
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
	MARGIN-TOP: 100px;
	BACKGROUND-COLOR: #ffffff;
	BORDER: #003399 1px solid;
}

TD.mhinfobox {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #003399; 
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
	MARGIN-TOP: 100px;
	BACKGROUND-COLOR: #E2E2E2;
	BORDER: #003399 1px solid;
}
